$padding: 20px;
$box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
$sidebar-width: 600px;
$mobile-breakpoint: 900px;

.container {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  // min-width: 100vw;

  .calendar-box {
    flex: auto;
    text-align: center;
    position: sticky;
    top: 0;

    // center vertically
    align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .calendar-page {
      margin: 16px;
      min-width: 700px;
      height: auto;
    }

    svg {
      box-shadow: $box-shadow;
    }
  }

  .sidebar-box {
    background-color: #f9f9f9;
    width: $sidebar-width;
    height: 100vh;
    min-width: 600px;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column-reverse;

    .calendar-box {
      svg {
        height: unset;
        width: calc(100vw - 48px);
      }
    }

    .sidebar-box {
      width: 100%;
      height: 100%;
      overflow-y: unset;
      position: unset;
      top: unset;
    }
  }
}