.app {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .calendar-box {
    flex: auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .calendar-page {
      margin: 20px;
      width: 40%;

      .calendar-svg {
        max-height: calc(80vh);
      }

      &:only-child {
        .calendar-svg {
          max-height: calc(100vh - 80px);
        }
      }
    }
  }

  .sidebar-box {
    width: 560px;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }
}
